<div class="fuckin-list">
    <li class="article-tag-list-item">
        <div class="set">
            <div id="site_search" class="search">
                <input type="text" id="local-search-new-input" class="search-input" placeholder="looking for what？" />
                <div id="local-search-new-result" class="local-search-new-result"></div>
            </div>
        </div>
    </li>
    <div style class="clearfix"></div>
</div>
