      <!--    <input type="text" id="local-search-new-input" name="q" results="0" placeholder="search notes ..." class="st-search-input st-default-search-input form-control" style="margin-bottom:1em"/>
        <div id="local-search-new-result"></div>
-->